{% extends 'base.html' %}

{% block content %}

<section class="sec_about">
    <div class="about_div">
            <h1 >Convolutional neural network (CNN) ?</h1></li>
            <div class="about_p"> <p>A convolutional neural network (CNN) is a type of artificial neural network used in image recognition and processing and specifically designed to process pixel data.</p>   </div>
            <h1> Cats dogs classification ?</h1>
            <div class="about_p">
                <p> I developed a system capable of identifying images of cats and dogs, The input image will be analyzed then the output is predicted.</p>
                <p> This Model differentiates whether an image is of a cat or dog using Convolutional Neural Networks.</p>   
            </div>
            <div><img  class="about_img" src="/static/images/imageedit_1_4547894534.gif" alt=""></div>
            
          
        
    </div>

</section>
    
    
<footer class="footer_ab" >
    <div class="container" >
        <div class="row" > 
            <div class="footer-col" > 
                <h4>EMAIL</h4>
                <ul>
                    <li> info@p2m.ma </li>
                 </ul>
            </div>
            <div class="footer-col" > 
                <h4>WHATSSAPP </h4>
                <ul>
                    <li> (+212)6 04 44 06 84</li>
                    
                 </ul>
            </div>
            <div class="footer-col" > 
                <h4>ADRESS</h4>
                <ul>
                    <li> Technopark souss mass TA 209 Agadir Maroc </li>
                 </ul>
            </div>
            <div class="footer-col" > 
                <h4>SOCIAL MEDIA</h4>
                <div class="social-link">
                     <a href="#" > <i class="fab fa-facebook-f"> </i> </a>
                     <a href="#" > <i class="fab fa-instagram"> </i> </a>
                     <a href="#" > <i class="fab fa-twitter"> </i> </a>
                     <a href="#" ><i class="fab fa-linkedin-in"> </i> </a>
                    
                </div>
            </div>
        </div>
     </div>

</footer>
{% endblock %}